body {
	background: #772E25;
	margin: 0;
	color: white;
	font-size: 25px;
	font-family: Ubuntu, sans-serif;
	text-align: center;
}
h1 {
	font-family: Ubuntu, sans-serif;
	font-size: 50px;	
}
h2 {
	font-family: Ubuntu, sans-serif;
	font-size: 20px;
	font-weight: lighter;
}
a {
	color: yellow;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

#banner{
	text-align: center;
	background-image: url("https://images.pexels.com/photos/33109/fall-autumn-red-season.jpg?cs=srgb&dl=pexels-pixabay-33109.jpg&fm=jpg");
	background-size: cover;
	background-position: 50% 65%;
	padding: 230px;
}
#banner h1, p {
	background: rgba(47, 18, 15, 0.6);
	width: 700px;
	text-shadow: 1px 1px 0px black;
	margin: auto;
	padding: 10px;
}
#footer{
	padding: 10px;
	background: #403D39;
	color: grey;
	text-align: center;
}
#footer a {
  color: white;
  font-size: 15px;
}
#footer a:hover {
  color: grey;
}
#footer p {
	color: white;
	font-size: 20px;
	padding: 10px;
}
.class{
	margin: 10px;
	text-align: center;
	border-radius: 100px;
	padding: 30px;
	background: #c44536;
}